
<div class="card  mt-2" *ngFor="let menu of menuProperties">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#panelsStayOpen-collapseThree'+ menu.id" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    <i class="{{menu.icon}}"></i>&nbsp; 
                    <strong> {{menu.titre}}</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree{{menu.id}}" class="accordion-collapse collapse" *ngFor="let sousMenu of menu.sousMenu">
                <div class="accordion-body  pt-2 pb-1 ">
                    <div class="card" style="width: 200px">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="{{sousMenu.icon}}"></i>&nbsp;
                                <a (click)="navigate(sousMenu.url)">  {{ sousMenu.titre }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
