/* You can add global styles to this file, and also import other style files */
body {
    background-color: #eff2f5 !important;
}
.background-grey{
    background-color: #eff2f5 !important;
}
.border-none{
    border: none !important
}
.min-height{
    min-height: 80px;
}

.border-right{
border-right: solid #eff2f5 !important;
}
.custom-border{
    border:solid #eff2f5 !important;
    border-radius: 5px;
}
.blue-color{
    color: #0670e0 !important;
}