<div class="row custom-border">
      <div class="col-md-1 p-0 mt-3 border-right text-center">
            <img src="assets/plante.jpg" width="95px" height="95px" />
      </div>
      <!--Details des articles  -->
      <div class="col-md-4 border-right">
            <div class="col">
                  <div class="row ">
                        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                        <div class="col-md-11">Code article</div>
                  </div>

                  <div class="row ">
                        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                        <div class="col-md-11">Designation de l'article</div>
                  </div>

                  <div class="row ">
                        <div class="col-md-1"><i class="fas fa-euro-sign blue-color"></i></div>
                        <div class="col-md-11">Prix à l'unité</div>
                  </div>

                  <div class="row ">
                        <div class="col-md-1"><i class="fas fa-euro-sign blue-color"></i></div>
                        <div class="col-md-11">Prix HT</div>
                  </div>

                  <div class="row ">
                        <div class="col-md-1"><i class="fas fa-euro-sign blue-color"></i></div>
                        <div class="col-md-11">Prix TTC</div>
                  </div>
            </div>
      </div>
      <!-- Details categories -->
      <div class="col-md-3 border-right text-left">
            <div class="row ">
                  <div class="col-md-2">
                        <i class="fas fa-flag-checkered blue-color"></i>
                  </div>
                  <div class="col-md-10">
                        <div class="row">
                              <div> Code cathegorie</div>
                              <div> Discription Cathégorie </div>
                        </div>
                  </div>
            </div>
      </div>

      <!-- Bouttons d'actions  -->
      <div class="col-md-4  mt-5 text-center">
            <div class="row">
                  <div class="col-md-4">

                        <button type="button" class="btn btn-primary"> <i class="fas fa-pen"></i>&nbsp;
                              Modifier</button>
                  </div>
                  <div class="col-md-5">
                        <button type="button" class="btn btn-danger"> <i class="fas fa-trash-alt"></i>&nbsp;
                              Supprimer</button>
                  </div>
                  <div class="col-md-3 m-0 p-0">
                        <button type="button" class="btn btn-success"><i class="far fa-list-alt"></i>&nbsp;
                              Details</button>
                  </div>
            </div>
      </div>

</div>