.main-container {
    margin: 50px;
  }
  .min-height-600 {
    min-height: 600px;
  }
  .no-flex-wrap {
    flex-wrap: inherit !important;
  }
  .pl-pr-0{
    padding-left: 0%;
    padding-right: 0%;
  }
  .mr-size{
    margin-right: 5px;
  }

  .min-height-80 {
    min-height: 80px;
  }